:root { 
--white_A700_7f:#ffffff7f; 
--blue_gray_100:#d9d9d9; 
--blue_gray_400:#8a8a8a; 
--amber_400:#fbca1a; 
--deep_purple_A100_02:#b795ff; 
--deep_purple_A100_01:#b795ff01; 
--gray_200:#ececec; 
--black_900_3f:#0000003f; 
--black_900_1e:#0000001e; 
--deep_purple_50:#eee5ff; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--black_900_00:#00000000; 
--black_900:#000000; 
--black_900_72:#00000072; 
--deep_purple_A100:#b694ff; 
--deep_purple_A200:#8753f3; 
--blue_gray_400_01:#888888; 
--black_900_36:#00000036; 
--white_A700:#ffffff; 
--red_A700:#ea0000; 
--deep_purple_A200_01:#9747ff; 
}